body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #272727;
            background-color: rgb(245, 245, 178);
        }
        li {
            font-size: 14px;
            font-style: italic;
            font-weight: normal;
        }
    a {color: maroon;
    text-decoration: none;}
    a:hover {
        text-decoration: underline;
        font-weight: bold;

    }
    a:visited {
        color: blue;
    }
.resumelistheading {
    font-weight: bolder;
    font-style: normal;
}
.underline {
    text-decoration: underline;
    
}
.bold {font-weight:bold ;}
.homebg {
    background-image: url('../images/simpson\ pic.png');
    background-position: top right;
  
}
.box1{
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}
.box2{
    padding: 5px;
}
.box3{
    margin: 50px;
}

